body {
	background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
	font-family: "Roboto", sans-serif;
}
h1 {
	text-align: center;
	font-weight: 500;
}
#form {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
#date-time {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
#date,
#time {
	font-size: 17px;
	font-weight: 300;
	margin-right: 10px;
}
form {
	display: flex;
	width: 1000px;
}
form textarea {
	padding: 10px;
	font-size: 17px;
	border-top-left-radius: 17px;
	border-bottom-left-radius: 17px;
	border: none;
	width: 85%;
	height: 50px;
	background-color: #aeb1b4;
	outline: none;
	resize: none;
}
form button {
	border: none;
	width: 15%;
	border-top-right-radius: 17px;
	border-bottom-right-radius: 17px;
	font-size: 17px;
	background-color: white;
	cursor: pointer;
}
.todo-list {
	margin-top: 20px;
	text-align: center;
	list-style-type: none;
	padding: 0;
}
.todo-list li {
	background: white;
	padding: 10px;
	margin: 5px auto;
	width: 60%;
	border-radius: 10px;
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Roboto", sans-serif;
	white-space: pre-line;
}
.delete-btn {
	background-color: red;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
}
